:root {
    --cardinal: #c8293eff;
    --cultured: #f2f2f2ff;
    --glaucous: #6377c7ff;
    --moss-green: #899d6aff;
    --marigold: #e0a227ff;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--cardinal);
}

main {
    text-align: center;
    background-color: var(--cultured);
    margin: 0 16px;
    border-radius: 3px;
    padding: 1.5em;
}