:root {
    --cardinal: #c8293eff;
    --cultured: #f2f2f2ff;
    --glaucous: #6377c7ff;
    --moss-green: #899d6aff;
    --marigold: #e0a227ff;
}

.mainBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 8px;
    position: relative;
    background-color: var(--cultured);
    z-index: 2;
}

.subBanner{
    background-color:var(--marigold);
    padding: 1em;
    position: relative;
    z-index: 1;
    transition-duration: 0.3s;
}

.subBanner nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
}

.visible{
    position: relative;
    top:0;
}

.invisible{
    position: relative;
    top:-100px;
}

/* Hamburger animations */

.hamburger {
    transition: all 0.3s;
}
  
.hamburger rect{
    width: 100px;
    height: 20px;
    rx: 8;
    transition: all 0.3s;
}

.hamburger rect:nth-child(1){y:0;}
.hamburger rect:nth-child(2){y:30;}
.hamburger rect:nth-child(3){y:60;}
  
.hamburger.is-active {
    transition: all 0.3s;
}

.ham-eleven.is-active rect:nth-child(1) {width: 30%;}
.ham-eleven.is-active rect:nth-child(2) {width: 60%;}
.ham-eleven.is-active rect:nth-child(3) {width: 90%;}
.ham-eleven.is-active {transform: rotate(-90deg); fill: var(--glaucous);}

@media screen and (min-width: 1024px){
    .mainBanner{
        padding: 1em 10%;
    }
}

@media screen and (min-width: 1440px){
    .mainBanner{
        padding: 1em 20%;
    }
}